.container.custom-container {
  padding: 0 50px;
  margin: 0;
  width: 100%;
}

body{
  background-color: rgba(240, 218, 205, 0.23);
}

button{
  background-color: #CA3532!important;
  color: #F0DACD;
  border: none!important;
}
